In [3]:
import yfinance as yf

In [4]:
data = yf.download("TSLA", start="2018-01-01", end="2025-4-22")
data.to_csv("TSLA_data.csv")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [5]:
data

Price            Close        High         Low        Open     Volume
Ticker            TSLA        TSLA        TSLA        TSLA       TSLA
Date
2018-01-02   21.368668   21.474001   20.733334   20.799999   65283000
2018-01-03   21.150000   21.683332   21.036667   21.400000   67822500
2018-01-04   20.974667   21.236668   20.378668   20.858000  149194500
2018-01-05   21.105333   21.149332   20.799999   21.108000   68868000
2018-01-08   22.427334   22.468000   21.033333   21.066668  147891000
...                ...         ...         ...         ...        ...
2025-04-14  252.350006  261.799988  245.929993  258.359985  100135200
2025-04-15  254.110001  258.750000  247.539993  249.910004   79594300
2025-04-16  241.550003  251.970001  233.889999  247.610001  112378700
2025-04-17  241.369995  244.339996  237.679993  243.470001   83404800
2025-04-21  227.500000  232.210007  222.789993  230.259995   97230200

[1835 rows x 5 columns]